<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-mail Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleofmanager.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Babel.js') }}">
</head>
<body>

<div class="background-carousel">
    <img id="bg-left" class="bg-image" src="{{ url_for('static', filename='images/iyi.jpg') }}">
    <img id="bg-center" class="bg-image active" src="{{ url_for('static', filename='images/iyi.jpg') }}">
    <img id="bg-right" class="bg-image" src="{{ url_for('static', filename='images/iyi2.jpg') }}">
</div>

<div class="card card--inverted">
    <h2><svg class="icon" aria-hidden="true"></svg>E-mail Verification</h2>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('verify_email') }}">
      <input type="hidden" name="email" value="{{ email }}">
      <input type="hidden" name="product_id" value="{{ product_id }}">

      <input type="text" name="code" placeholder="Enter Verification Code" required>
      <button type="submit">Verify</button>
    </form>

    <a href="{{ url_for('index') }}"><button>Back</button></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.1.0/dist/index.umd.js"></script>
<script src="{{ url_for('static', filename='styles/scripts.js') }}"></script>
<script>
    const images = [
        "{{ url_for('static', filename='images/iyi.jpg') }}",
        "{{ url_for('static', filename='images/iyi1.jpg') }}",
        "{{ url_for('static', filename='images/iyi3.jpg') }}",
        "{{ url_for('static', filename='images/iyi2.jpg') }}"
    ];
</script>

</body>
</html>
