<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Barcode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="background-fireworks">
        <canvas id="fireworks"></canvas>
        <div class="background-carousel">
    <img id="bg-left" class="bg-image" src="{{ url_for('static', filename='images/iyi.jpg') }}">
    <img id="bg-center" class="bg-image" src="{{ url_for('static', filename='images/iyi1.jpg') }}">
    <img id="bg-right" class="bg-image" src="{{ url_for('static', filename='images/iyi2.jpg') }}">
</div>

    </div>
    <div class="container">
        {% if not is_manager %}
            <p><a href="{{ url_for('login') }}">Manager Login</a></p>
        {% else %}
            <p>Logged in as Manager | <a href="{{ url_for('logout') }}">Logout</a></p>
        {% endif %}

        <h1 class="glow-title">Welcome to the MonGross</h1>

        <!-- Resim yükleme -->
        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Submit</button>
        </form>
        <!-- Kamera -->
        <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 10px;">
        <button id="cameraToggleBtn" onclick="toggleCamera()">Start Camera</button>
        <a href="{{ url_for('stop_camera_route') }}" style="border-radius:5px;" class="btn btn-danger">End The Guess</a>
        <button id="captureButton" style="display: none;" onclick="capturePhoto()">Capture Photo</button>
        </div>
        <div id="cameraContainer" style="margin:auto;margin-top: 3px;">
            <video id="cameraFeed" style="width: 500px; display: none;margin: auto" autoplay></video>
        </div>
        <form id="uploadCameraForm" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" style="display:none;">
            <input type="hidden" id="imageData" name="image_data" />
            <button style="margin-top: 3px;" type="submit">Submit Camera Photo</button>
        </form>
        <br>
        <!-- Ürün bilgisi gösterimi -->
        {% if product %}
        <div style="margin-top: 20px;">
            <h3 class="glow-title">Product Information</h3>
            <table border="1" cellpadding="10" cellspacing="3" class="styled-table">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Product Name</th>
                        <th>Brand Name</th>
                        <th>Price</th>
                        <th>Origin</th>
                        <th>Producted Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ product.ProductsId }}</td>
                        <td>{{ product.ProductName }}</td>
                        <td>{{ product.BrandName }}</td>
                        <td>{{ product.Price }}</td>
                        <td>{{ product.Origin }}</td>
                        <td>{{ product.ProductDate }}</td>
                    </tr>
                </tbody>
            </table>
        <button onclick="speakProductInfo()" style="background: none; border: none; cursor: pointer;">
            <i class="fas fa-volume-up fa-2x" style="color: #d4af37"></i>
        </button>
        </div>
        {% if is_manager %}
            <form method="POST" action="{{ url_for('update_single_price') }}">
                <input type="hidden" name="product_id" value="{{ product.ProductsId }}">
                <label>New Price:</label>
                <input type="text" name="new_price" required>
                <button type="submit">Upgrade Price</button>
            </form>
        {% endif %}
        {% endif %}

        <!-- Debug görüntü -->
        {% if debug_image_file %}
        <div class="debug-result">
            <h3>Debug Image:</h3>
            <img src="{{ url_for('serve_debug_file', filename=debug_image_file) }}"
                alt="Debug Image"
                style="width: 300px; max-height: 200px; object-fit: contain;" />
        </div>
        {% endif %}

        <!-- Hata mesajı -->
        {% if error %}
        <div class="error">
            <h3 style="color: #3f3f3f;">Error: {{ error }}</h3>
        </div>
        {% endif %}

        <div class="monkey-container">
            <img src="{{ url_for('static', filename='images/monkey.gif') }}" alt="Dans Eden Maymun">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.1.0/dist/index.umd.js"></script>
   <script src="{{ url_for('static', filename='styles/scripts.js') }}"></script>
<script>
    const images = [
        "{{ url_for('static', filename='images/iyi.jpg') }}",
        "{{ url_for('static', filename='images/iyi1.jpg') }}",
        "{{ url_for('static', filename='images/iyi3.jpg') }}",
        "{{ url_for('static', filename='images/iyi2.jpg') }}"
    ];
</script>
<script>
  const productInfo = {
    productName: "{{ product['ProductName'] }}",
    brandName: "{{ product['BrandName'] }}",
    origin: "{{ product['Origin'] }}",
    productDate: "{{ product['ProductDate'] }}",
    price: "{{ product['Price'] }}"
  };
</script>

</body>
</html>
